.drop-point {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    height: fit-content;


    &.collision {
      color: red;
    }
}