.drop-point {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    height: fit-content;
    position: fixed;
    right: 0;
    bottom:0;
}

.trashcan {
    position: relative;
    width: 8vw;
    height: auto;

    &.collision {
        width: 8vw;
        height: auto;
        transform: scale(1.05);
        filter: hue-rotate(10deg) brightness(110%);
    }
}
