@keyframes floatAndRotate {
    0%, 100% {
        transform: translate3d(0px, 0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate3d(10px, -20px, 0px) rotate(3deg);
    }
    50% {
        transform: translate3d(20px, 0px, 0px) rotate(0deg);
    }
    75% {
        transform: translate3d(10px, 20px, 0px) rotate(-3deg);
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.draggable-container {
    width: fit-content;
    height: fit-content;
}

.floating-card {
    animation: floatAndRotate 10s ease-in-out infinite;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.floating-card.no-animation {
    animation: none;
}